# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/
.venv/
venv/

# IDE
.vscode/
.idea/

# Env
.env
*.env

# Data/cache
huggingface/
**/cache/
*.log

# OS
.DS_Store
Thumbs.db
