[project]
name = "wordlist-generation"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "accelerate>=1.10.1",
    "click>=8.3.0",
    "fastapi[standard]>=0.118.3",
    "httpx>=0.28.1",
    "lm-format-enforcer>=0.11.3",
    "openai>=2.1.0",
    "pydantic>=2.11.10",
    "torch>=2.8.0",
    "transformers>=4.57.0",
    "bitsandbytes>=0.42.0",
]

[dependency-groups]
dev = [
    "ruff>=0.14.0",
]
