[project]
name = "wordlist-generation"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "accelerate>=1.10.1",
    "click>=8.3.0",
    "openai>=2.1.0",
    "torch>=2.8.0",
    "transformers>=4.57.0",
    "vastai-sdk>=0.1.20",
    "xgrammar>=0.1.25",
]
